# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# node_modules
/node_modules
/.pnp
/.yarn

# next.js
/.next/
/out/
build

# Error logs
next-error.log

# local env files
.env.local
.env.*.local

# production .env files
.env.production
.env.production.local

# misc
.DS_Store
*.swp
.direnv

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
/coverage

# editor support
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Zone.Identifier
.Identifier
